* {
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  margin: 0;

  font-size: 10px;
  line-height: 1.5;
  text-align: left;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
